NODEOS_REPOSITORY=https://github.com/EOSIO/eos.git
NODEOS_VERSION=v2.1.0
NODEOS_SNAPSHOT=https://jungle.snapshots.eossweden.org/snapshots/f94a60/2.0/latest
NODEOS_PEERS=peer.jungle3.alohaeos.com:9876 jungle.eosn.io:9876 jungle3.eosrio.io:58012